* {
  box-sizing: border-box;
}


:root {
  /* BODY */
  --light-blue: #ecf2ff;
  /* CARD */
  --card-width: 375px;
  --card-height: 809px;
  /* SECTIONS */
  --section-width: 375px;
  /* RESULT */
  --top-padding: 15px;
  --result-height: 356px;
  --result-border-radius: 0 0 30px 30px;
  /* SUMMARY */
  --summary-padding-top: 15px;
  --summary-border-radius: 0 0 0 0;
  /* SCORE INDICATOR */
  --score-indicator-width: 140px;
  --score-indicator-height: 140px;
  --score-indicator-padding-top: 20px;

  /* DESCRIPTION */
  --description-box-height: 81px;
  --description-padding-top: 10px;

  /* FLEXBOX */
  --flex-direction: column;

  /* COLORS */
  --light-red: 0, 100%, 67%;
  --orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;

  /* GRADIENTS */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --gray: #9799a8;

  /* FONT */
  --fs-paragraph: 16px;
  --fs-title: 18px;
  --fs-comment: 24px;
  --fs-score: 56px;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* SPACINGS */
}

/* Tablets - Desktop */
@media (min-width: 768px) {
  :root {
    /* CARD */
    --card-width: 736px;
    --card-height: 512px;
    /* SECTIONS */
    --section-width: 368px;
    /* RESULT */
    --top-padding: 0px;
    --result-height: 512px;
    --result-border-radius: 20px;
    /* SUMMARY */
    --summary-padding-top: 0px;
    --summary-border-radius: 0 20px 20px 0;
    /* SCORE INDICATOR */
    --score-indicator-width: 200px;
    --score-indicator-height: 200px;
    --score-indicator-padding-top: 0px;
    /* DESCRIPTION */
    --description-box-height: 134px;
    --description-padding-top: 0px;
    /* FLEXBOX */
    --flex-direction: row;
    /* FONT */
    --fs-paragraph: 18px;
    --fs-title: 24px;
    --fs-comment: 32px;
    --fs-score: 72px;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
  }
}

html {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--fs-paragraph);
  min-width: 375px;
}

body {
  min-height: 100dvh;
  /* CENTRALIZE THE CARD */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
}

.card {
  display: flex;
  flex-direction: var(--flex-direction);
  width: var(--card-width);
  height: VAR(--card-height);
  border-radius: 20px;
  color: var(--white);
  background-color: var(--white);
}

/* SECTIONS - COMMON STYLES */
.card .section {
  width: var(--section-width);
  background-color: var(--white);
}

.card .section h2 {
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
}

/* RESULT SECTION */

.card .result {
  padding-top: var(--top-padding);
  height: var(--result-height);
  border-radius: var(--result-border-radius);
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card .result h2 {
  color: var(--light-lavender);
}

.card .result .score-indicator {
  border-radius: 50%;
  width: var(--score-indicator-width);
  height: var(--score-indicator-height);
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  margin-top: var(--score-indicator-padding-top);
}

.card .result .score-indicator .result-score {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card .result .score-indicator .result-score .result-score-value {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-score);
}
.card .result .score-indicator .result-score .result-score-total {
  color: var(--light-lavender);
}

.card .result .description {
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: var(--description-padding-top);
}

.card .result .description .comment strong {
  font-weight: var(--fw-bold);
  font-size: var(--fs-comment);
}

.card .result .description .remark {
  color: var(--light-lavender);
  width: 260px;
  height: 69px;
  line-height: 1.2;
  text-align: center;
}

/* SUMMARY SECTION */
.card .summary {
  border-radius: var(--summary-border-radius);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-bold);
  color: var(--gray);
  padding-top: var(--summary-padding-top);
}

.card .summary h2 {
  color: var(--dark-gray-blue);
}

.card .summary .summary-wrapper {
  width: 288px;
  height: 422px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* HORIZONTAL CENTERING */
  gap: 30px;
}

.card .summary .summary-wrapper .summary-card {
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .summary .summary-wrapper .summary-card .summary-item-wrapper {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
}

.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper:nth-child(1) {
  background-color: hsla(var(--light-red), 0.05);
  & h3 {
    color: hsl(var(--light-red));
  }
}
.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper:nth-child(2) {
  background-color: hsla(var(--orangey-yellow), 0.05);
  & h3 {
    color: hsl(var(--orangey-yellow));
  }
}
.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper:nth-child(3) {
  background-color: hsla(var(--green-teal), 0.05);

  & h3 {
    color: hsl(var(--green-teal));
  }
}
.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper:nth-child(4) {
  background-color: hsla(var(--cobalt-blue), 0.05);

  & h3 {
    color: hsl(var(--green-teal));
  }
}

.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper
  .summary-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper
  .summary-item
  h3 {
  height: 23px;
  line-height: 23px;
}

.card
  .summary
  .summary-wrapper
  .summary-card
  .summary-item-wrapper
  .summary-score-value {
  font-weight: var(--fw-bold);
  color: var(--dark-gray-blue);

  padding-right: 3px;
}

.card .summary .summary-button {
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-weight: var(--fw-bold);
  /* FORM ELEMENT DOESN'T INHERIT FONT SIZE */
  /* SET BUTTON FONT SIZE TO INHERIT IN RESET.CSS */
  border: none;
  height: 56px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.card .summary .summary-button:hover {
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

.card .summary .summary-button:active {
  transform: scale(0.95);
  opacity: 0.7;
}
